{% extends 'HTWPhotoWebBundle::layout.html.twig' %}

{% set bodyclass = 'home' %}

{% block wrapper %}
	<div class="show-for-medium-up home-wrapper">
		<div class="row collapse">
			<div class="medium-6 columns home-side-big">
				<img alt="" src="{{ asset('bundles/htwphotoweb/images/home_left.jpg') }}" >
			</div>

			<div class="medium-6 columns home-side-big">
				<img alt="" src="{{ asset('bundles/htwphotoweb/images/home_right.jpg') }}" >
			</div>
		</div>

		<div class="row home-content-wrapper">
			<div class="medium-12 columns">
				<div class="row">
					<div class="medium-6 columns home-block">
						<h4>Fotos entdecken</h4>
						<p>Wenn du auf der Suche nach frischen Motiven bist, ist FOTOWEB genau die richtige Adresse.</p>

						<form action="{{ path('htw_photoweb_search_results') }}" method="GET">
							<div class="row collapse">
								<div class="medium-9 columns">
									<input type="text" name="name" class="radius">
								</div>
								<div class="medium-3 columns">
									<input type="submit" name="submit" class="button tiny radius postfix" value="Suchen">
								</div>
							</div>
						</form>
					</div>

					<div class="medium-6 columns home-block">
						<h4>Fotos teilen</h4>
						<p>Teile deine Fotos mit der Welt. Dabei beh채lst du die volle Kontrolle 체ber deine Bildrechte.</p>

						<a class="button tiny radius" href="{{ path('htw_photoweb_photo_upload') }}">Jetzt Fotos hochladen</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="show-for-small-only home-wrapper">
		<div class="row collapse">
			<div class="small-12 columns small-side-left">
				<div class="medium-6 columns home-block">
					<h4>Fotos entdecken</h4>
					<p>Wenn du auf der Suche nach frischen Motiven bist, ist FOTOWEB genau die richtige Adresse.</p>

					<form action="{{ path('htw_photoweb_search_results') }}" method="GET">
						<div class="row collapse">
							<div class="medium-9 columns">
								<input type="text" name="name" class="radius">
							</div>
							<div class="medium-3 columns">
								<input type="submit" name="submit" class="button tiny radius postfix" value="Suchen">
							</div>
						</div>
					</form>
				</div>
			</div>

			<div class="small-12 columns small-side-right">
				<div class="medium-6 columns home-block">
					<h4>Fotos teilen</h4>
					<p>Teile deine Fotos mit der Welt. Dabei beh채lst du die volle Kontrolle 체ber deine Bildrechte.</p>

					<a class="button small radius" href="{{ path('htw_photoweb_photo_upload') }}">Jetzt Fotos hochladen</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
