{% extends 'HTWPhotoWebBundle::layout.html.twig' %}

{% block content %}
	<h2>
		{{ user.username }}
	</h2>

	<div>
		<a href="{{ path('htw_photoweb_user_list') }}">
    		&lt; back to overview	
    	</a>
    </div>

    <div>
		<p>ID: {{ user.id }}<br />
		Last Login Date: {{ user.lastLogin|date('d.m.Y') }}<br />
		Is locked: {{ user.locked ? 'yes' : 'no' }}</p>
	</div>
{% endblock %}
