{% extends 'HTWPhotoWebBundle::layout.html.twig' %}

{% set page_title = 'Meine Fotos' %}

{% block content %}
	<h2>Meine Fotos</h2>
	
	{% for flashMessage in app.session.flashbag.get('notice') %}
	    <div class="alert-box radius">
	        {{ flashMessage }}
	    </div>
	{% endfor %}

	<div>
		<a class="button tiny radius" href="{{ path('htw_photoweb_photo_upload') }}">Neues Foto hochladen</a>
		<a class="button tiny radius" href="{{ path('htw_photoweb_photo_export') }}">Fotos exportieren</a>
	</div>

	<div class="popup-gallery">
        {% if pagination is empty %}
            <p>Keine Photos gefunden</p>
        {% else %}
            {% for photo in pagination %}
                <a class="th" href="{{ asset(photo.getWebPath()) }}" title="{{ photo.getName() }}"><img src="{{ photo.getWebPath() | imagine_filter('thumbnail') }}" alt="" /></a>
            {% endfor %}
        {% endif %}
	</div>

    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>

{% endblock %}
