<div id="search-page" class="row">
	{{ form_start(form) }}
		{{ form_errors(form) }}

		<div class="large-10 columns">
			{{ form_widget(form.name) }}
		</div>
		<div class="large-2 columns">
			{{ form_widget(form.search, {'attr': {'class': 'tiny'}}) }}
		</div>
	{{ form_end(form) }}
</div>