<div id="search-page">
	{{ form_start(form) }}
		{{ form_errors(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.format) }}
        {{ form_row(form.color) }}
        <div class="row">
            <div class="small-6 medium-6 large-6 columns">
                {{ form_row(form.width) }}
            </div>
            <div class="small-6 medium-6 large-6 columns">
                {{ form_row(form.height) }}
            </div>
        </div>

        {{ form_row(form.search, {'attr': {'class': 'tiny'}}) }}
	{{ form_end(form) }}
</div>
