{% extends 'HTWPhotoWebBundle::layout.html.twig' %}

{% block content %}
	<div class="content">
		{{ render(controller('HTWPhotoWebBundle:Search:form', {'originalRequest': app.request})) }}

		<div class="row popup-gallery">
			{% for photo in pagination %}
				<a class="th" href="{{ asset(photo.getWebPath()) }}" title="{{ photo.getName() }}"><img src="{{ photo.getWebPath() | imagine_filter('thumbnail') }}" alt="" /></a>
			{% endfor %}
			<div class="navigation">
			    {{ knp_pagination_render(pagination) }}
			</div>
		</div>
	</div>
{% endblock %}
