{% extends 'HTWPhotoWebBundle::layout.html.twig' %}

{% set page_title = 'Foto hochladen' %}

{% block content %}
	<h2>Foto hochladen</h2>

	{% for flashMessage in app.session.flashbag.get('notice') %}
	    <div class="alert-box radius">
	        {{ flashMessage }}
	    </div>
	{% endfor %}

	{{ form_start(form) }}
		{{ form_errors(form) }}

		{{ form_row(form.name) }}
		{{ form_row(form.description) }}
		{{ form_row(form.file) }}

        <h3>Metadata</h3>
		{{ form_row(form.format) }}
		{{ form_row(form.color) }}

        <div class="row">
            <div class="small-6 medium-6 large-6 columns">
                {{ form_row(form.width) }}
            </div>
            <div class="small-6 medium-6 large-6 columns">
                {{ form_row(form.height) }}
            </div>
        </div>

		<div class="button-bar">
			<ul class="button-group">
				<li>{{ form_widget(form.save, {'attr': {'class': 'button small radius'}}) }}</li>
			</ul>
			<ul class="button-group">
				<li>{{ form_widget(form.saveAndAdd, {'attr': {'class': 'button small radius'}}) }}</li>
			</ul>
		</div>
	{{ form_end(form) }}
{% endblock %}
