{% extends '::base.html.twig' %}

{% block body %}
    <div class="contain-to-grid">
        <nav class="top-bar" data-topbar>
            <ul class="title-area">
                <li class="name">
                    <h1><a href="{{ path('htw_photoweb_homepage') }}">Photoweb</a></h1>
                </li>
                <li class="toggle-topbar menu-icon"><a href=""><span>Menu</span></a></li>
            </ul>

            <section class="top-bar-section">
                 <!-- Left Nav Section -->
                <ul class="left">                    
                    <li{% if app.request.attributes.get('_route') == 'htw_photoweb_search_search' %} class="active"{% endif %}><a href="{{ path('htw_photoweb_search_search') }}">Suche</a></li>
                </ul>

                 <!-- Right Nav Section -->
                <ul class="right show-for-small-only">                    
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <li{% if app.request.attributes.get('_route') == 'htw_photoweb_myarea_index' %} class="active"{% endif %}><a href="{{ path('htw_photoweb_myarea_index') }}">Meine Fotos</a></li>
                        <li>    
                            <a href="{{ path('fos_user_security_logout') }}">
                                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                            </a>
                        </li>
                    {% else %}
                        <li><a class="login-button" href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a></li>
                        <li><a class="register-button" href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a></li>
                    {% endif %}
                </ul>

                <ul class="right show-for-medium-up">                    
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <li class="has-form{% if app.request.attributes.get('_route') == 'htw_photoweb_myarea_index' %} active{% endif %}"><a class="button radius" href="{{ path('htw_photoweb_myarea_index') }}">Meine Fotos</a></li>
                        <li class="has-form">    
                            <a class="button radius logout-button" href="{{ path('fos_user_security_logout') }}">
                                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                            </a>
                        </li>
                    {% else %}
                        <li class="has-form"><a class="button radius login-button" href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a></li>
                        <li class="has-form"><a class="button radius register-button" href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a></li>
                    {% endif %}
                </ul>
            </section>
        </nav>
    </div>

    <div id="main">
        {% block wrapper %}
            <div class="row">
                <div class="large-12 columns">{% block content %}{% endblock content %}</div>   
            </div>
        {% endblock wrapper %}
    </div>

    <footer class="row">
      <div class="large-12 columns">
        <div class="row">
          <div class="small-6 columns">
            <ul class="inline-list">
                <li><a href="{{ path('htw_photoweb_staticpage_privacy') }}">Datenschutz</a></li>
                <li><a href="{{ path('htw_photoweb_staticpage_imprint') }}">Impressum</a></li>
                <li><a href="{{ path('htw_photoweb_staticpage_contact') }}">Kontakt</a></li>
            </ul>
          </div>

          <div class="small-6 columns">
            <p class="text-right">© FOTOWEB 2013</p>
          </div>
        </div>
      </div>
    </footer>
{% endblock %}

{% block javascripts %}
    {% javascripts
        'bundles/htwphotoweb/js/thirdparty/jquery.js'
        'bundles/htwphotoweb/js/thirdparty/foundation/foundation.js'
        'bundles/htwphotoweb/js/thirdparty/foundation/foundation.topbar.js'
        'bundles/htwphotoweb/js/thirdparty/*'
        'bundles/htwphotoweb/js/*' output='js/compiled/main.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block stylesheets %}
    {% stylesheets
        'bundles/htwphotoweb/css/style.css' filter='cssrewrite' output='css/compiled/main.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}