{% extends 'HTWPhotoWebBundle::layout.html.twig' %}

{% block content %}
	{% for flashMessage in app.session.flashbag.get('success') %}
	    <div class="alert-box success radius">
	        {{ flashMessage }}
	    </div>
	{% endfor %}

	<h2>Kontakt</h2>
	
	<p class="text-justify">Sie möchten uns eine Nachricht senden? Schicken Sie uns einfach eine Nachricht über das folgende Kontaktformular. Nach der Bearbeitung Ihrer Anfrage werden wir uns schnellsmöglich bei Ihnen melden.</p>

	<div>
		{{ form_start(form) }}
		    {{ form_errors(form) }}

		    {{ form_row(form.name) }}
		    {{ form_row(form.email) }}
		    {{ form_row(form.message) }}

		    {{ form_row(form.send, {'attr': {'class': 'small radius'}}) }}
		{{ form_end(form) }}
	</div>

	
{% endblock %}
